-cookies[:alert]= {value: true, expires: 12.months}
=react_component("Alert", keys: query.present? ? query.join : job.title, location_id:job.location_id, location_name:job.location.name, url: root_url)