- meta_head(  title:"#{@by_category.obj[:name]} by Category",
        description: "#{@by_category.obj[:name]} by Category",
        keywords: "#{@by_category.obj[:name]} by Category")
.container
  =render 'inc/by_category', type:@by_category.obj, category: @by_category.category
